body {
  background-color: #FAFAFA;
  font-weight: 100;
}

#heading {
  width: 610px;
  margin-left: auto;
  margin-right: auto;
}

#heading-title {
  font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  font-size: 64px;
  color: white;
  padding-top: 60px;
  background-color: black;
  text-align: center;
  height: 90px;
  width: 100%;
}

#heading-subtitle {
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 16px;
  background-color: white;
  border: 4px solid black;
  height: 30px;
  width: 360px;
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  text-align: center;
  text-transform: uppercase;
}

.prod-image {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  display: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  z-index: 1;
}

#blur-image {
  background-color: black;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 260px;
  -webkit-filter: opacity(80%);
}

#blur-image img{
  margin-top: -260px;
  -webkit-filter: blur(10px) opacity(20%);
}

.products {
  padding-top: 40px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.product {
  width: 250px;
  margin: 20px;
  position: relative;
}

.product:hover {
  border: 1px solid #DDD;
  box-shadow: 0px 0px 2px 1px #AAA;
}

.product:hover > a > .overlay {
  display: inline;
}

.product:hover > a > #blur-image {
  display: inline;
}

.top-left {
  bottom: 10px;
  left: 10px;
}

.top-right {
  bottom: 10px;
  right: 10px;
}

.bottom-middle {
  bottom: 5px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

#old-price {
  text-decoration: line-through;
}

#new-price {
  color: #3F3;
}

.bordered {
  overflow: hidden;
  /*-moz-border-radius: 5px;*/
  /*-webkit-border-radius: 5px;*/
  /*border-radius: 5px;*/
  /*border-radius: 5px;*/
  border: 1px solid #DDD;
  display: inline-block;
}

.no-touch {
  display: block !important;
}